html,body {
    font-size: 14px;
    height: 100%;
}


.header {
    background-color: #252845;
}

.top-part{
    height:7vh;
}

.left-col{
    height:100vh;
}

.header-el {
    color: #fff;
}

    .header-el:hover {
        text-decoration: none;
        color: #fff;
    }

.text-center {
    padding-right: auto;
    padding-left: auto;
}


.padding-10 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ccc;
}

.message-download-button {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background-color: #f9f9fa !important;
    color: #252845 !important;
}

.sound-button{
    min-width: 84px;
}

.sound-link {
    color: #75c12a ;
}

 .sound-link:hover {
      text-decoration: none;
      color: #75c12a;
    }

.chatters {
        background-color: #f9f9fa;
    }

.block-chatter-full {
}

.block-chatter {
    height: 60px;
    color: #777777;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
}

    .block-chatter:hover {
        background-color: #f0f0f1;
    }


.name-in-panel {
    position: relative;
    top: -5px;
    max-width: 80%;

}

.spinner-border{
    visibility: hidden;
    position: absolute;
    margin-top: 10px;
}

.clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-counter {
    position:absolute;
    right:10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #9db8c6;
    border-radius: 50%;
    text-align: center;
    visibility: hidden;
}

.message-in-panel {
    position: relative;
    top: 20px;
}

.message-col {
    border-left: solid #707070 3px;
    font-size: 18px;
    height:  90vh;
}

.my-message {
    background-color: #f0f4f7;
}

.not-my-message {
    background-color: #e8e8e8;
}

.message {
    padding: 10px 20px;
    margin: 10px 0px;
    color: #111111;
    border-radius:10px;
}

  

.message-sender {
    display: inline-block;
    font-size: 16px;
    color: #555555;
    word-wrap: break-word;
    width: 110%;
}

.message-text-full{
    width:110%;
}

.message-text {
    display: inline-block;
    width:90%;
}

.message-unread-circle {
    display: inline-block;
    float: left;
    width: 1%;
    min-width:5px;
    height: 5px;
    background-color: darkblue;
    border-radius: 5px;
    margin: 10px 10px; 
}


.message-text div {
    word-wrap: break-word;
    font-size: 16px;
    display: inline-block;
}

.message-time {
    display: inline-block;
    font-size:13px;
}
   
.message-writing {
    font-size: 20px;
    height: 10vh;
}

.bottom-container{
    margin-top: 10px;
}

.form-control {
    bottom: 0px;
    left: 30px;
    display: inline-block;
    resize: none;
}

.input-inline {
    display: inline-block;
    background-color: #191C39;
    color: #FFFFD9;
    border-radius: 5px;
    width: 100px;
    position: absolute;
    bottom: 10px;
    right:140px;
}

.upload-button {
    position: absolute;
    right: 40px;
    display: inline-block;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 10px;
    width: 70px;
    color:white;
}

.upload-button:hover{
    cursor: pointer;
} 

input[type="file"] {
    display: inline-block;
    opacity: 0;
    z-index: -1;
}

.input-inline:hover {
    background-color: #101030;
}

.overflow-90 {
    height: 90vh;
    overflow: auto !important;
}

.overflow-80 {
    height: 80vh;
    overflow: auto !important;
}

::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.active-chatter {
    background-color: #cccedb !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

#loadButton {
    visibility: hidden;
}